.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.top-header {
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
 .highlight{ background: #D3E18A; }